article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.navbar {
  background: #f5f5f5;
  height: 9vh;
}

header {
  width: 100%;
  height: 84vh;
  background: url("./assets/bg.jpg");
  background-size: cover;
}

header .grid-container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 30px;
}

header .grid-container .searchbox {
  margin-top: 3.5rem;
  background: rgba(87, 87, 87, 0.9);
  border-radius: 34px;
  padding: 2.5%;
}

header .grid-container .searchbox .loading {
  color: white;
}

header .grid-container .searchbox input {
  width: 100%;
  font-size: 1.2rem;
  padding: 5px 10px;
  margin-bottom: 15px;
  border: 0;
}

header .grid-container .searchbox fieldset {
  border: 0;
  padding: 0;
}

header .grid-container .searchbox fieldset[disabled] {
  opacity: 0.5;
}

header .grid-container .searchbox fieldset::before {
  height: 10px;
  content: "";
  display: block;
  background-image: linear-gradient(
    to right,
    #982933 0%,
    #fff 50%,
    #982933 100%
  );
}

@keyframes loading {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}

header .grid-container .searchbox fieldset[aria-busy="true"]::before {
  background-size: 50% auto;
  animation: loading 0.5s linear infinite;
}
header .grid-container .searchbox input[type="submit"] {
  margin-top: 15px;
  background: #982933;
  border-radius: 36px;
  color: white;
  text-transform: uppercase;
  padding: 15px;
}

header .grid-container .searchbox label p {
  color: white;
}

header .grid-container .title {
  position: relative;
}

.container {
  width: 95%;
  margin: 0 auto;
}

h1 {
  font-size: 6rem;
  text-transform: uppercase;
  color: white;
  text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000,
    5px 5px 0 #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.navbar .grid-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.navbar .grid-container .logo img {
  width: 100%;
}

.navbar .grid-container nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar .grid-container nav ul.main-menu > li {
  position: relative;
}

.navbar .grid-container nav ul.main-menu > li:not(:first-child)::before {
  content: "|";
  width: 4px;
  height: 10px;
  background: white;
  color: white;
}

.navbar .grid-container nav ul.main-menu li a {
  color: #707070;
  display: inline-block;
  padding: 5px 20px;
  white-space: nowrap;
}

.navbar .grid-container nav ul.main-menu li a:hover {
  color: #333131;
}

.navbar .grid-container nav ul.main-menu > li > a span {
  display: inline-block;
  padding-left: 5px;
  color: white;
}

.navbar .grid-container nav ul.main-menu > li ul.sub-menu {
  display: none;
  position: absolute;
  background: #f5f5f5;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
}

.navbar .grid-container nav ul.main-menu > li ul.sub-menu li > a span {
  border-bottom: 4px solid #707070;
}

.navbar .grid-container nav ul.main-menu > li ul.sub-menu li > a:hover span {
  border-bottom: 4px solid #333131;
}

.navbar .grid-container nav ul.main-menu li:hover ul.sub-menu {
  display: block;
}

footer {
  position: fixed;
  height: 7vh;
  bottom: 0;
  left: 0;
  /* Setting right to 0 as well to guarantee the container stretches to 100% width all the time */
  right: 0;
  background: #272727;
  color: #707070;
}
